<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <p>Done Todo List</p>
    <form action="{{ url_for('show_todo_list') }}" method="get">
        <input type="submit" value="Show todo list">
    </form>

    <table>
        {% for obj in todo_list %}
            <TR>
                <TD class="c1">@ </TD>
                <TD class="c2">{{ obj.content }}</TD>
                <TD class="c4">
                    <form action="{{ url_for('unmark_todo', idx=obj.idx) }}" method="post">
                        <input type="submit" value="Add to todo list">
                    </form>
                </TD>
                <TD class="c5">
                    <form action="{{ url_for('delete_todo', idx=obj.idx) }}" method="post">
                        <input type="submit" value="DELETE">
                    </form>
                </TD>
            </TR>
        {% endfor %}
    </table>
</body>
</html>